In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [22]:
# 데이터 불러오기
names=['model','option','year','odometer','fuel','price']
avante = pd.read_csv('./data/avante_df.csv')
genesis = pd.read_csv('./data/genesis_df.csv')
grandure = pd.read_csv('./data/grandure_df.csv')
sonata = pd.read_csv('./data/sonata_df.csv')
santafe = pd.read_csv('./data/santafe_df.csv')

avante = pd.DataFrame(data=avante).reset_index().iloc[:,2:]
genesis = pd.DataFrame(genesis).reset_index().iloc[:,2:]
grandure = pd.DataFrame(grandure).reset_index().iloc[:,2:]
sonata = pd.DataFrame(sonata).reset_index().iloc[:,2:]
santafe = pd.DataFrame(santafe).reset_index().iloc[:,2:]
avante

        model           option          year  odometer fuel  price     car
0      아반떼 AD   1.6 GDI 밸류 플러스        18/02식     46374  가솔린   1300  avante
1     더 뉴 아반떼  1.6 GDi 스마트 기본형        14/05식     78255  가솔린    880  avante
2      아반떼 AD      1.6 GDI 스타일  16/12식(17년형)     60873  가솔린   1199  avante
3      아반떼 AD   1.6 GDI 밸류 플러스        18/02식     46374  가솔린   1300  avante
4      아반떼 MD      M16 GDI 럭셔리        12/08식     93310  가솔린    660  avante
...       ...              ...           ...       ...  ...    ...     ...
5675   아반떼 HD  1.6 VVT S16 럭셔리        10/10식     59500  가솔린    490  avante
5676   아반떼 HD  1.6 VVT S16 럭셔리        09/04식     96790  가솔린    470  avante
5677   아반떼 MD      M16 GDI 에비뉴  13/08식(14년형)    119307  가솔린    480  avante
5678  더 뉴 아반떼   1.6 VGT 모던 기본형  14/10식(15년형)    149123   디젤    550  avante
5679   아반떼 HD  1.6 VVT S16 럭셔리        10/05식    130164  가솔린    280  avante

[5680 rows x 7 columns]

In [23]:
avante.info(),genesis.info(),grandure.info(),sonata.info(),santafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5680 entries, 0 to 5679
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   model     5680 non-null   object
 1   option    5680 non-null   object
 2   year      5680 non-null   object
 3   odometer  5680 non-null   int64
 4   fuel      5680 non-null   object
 5   price     5680 non-null   int64
 6   car       5680 non-null   object
dtypes: int64(2), object(5)
memory usage: 310.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6444 entries, 0 to 6443
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   model     6444 non-null   object
 1   option    6444 non-null   object
 2   year      6444 non-null   object
 3   odometer  6444 non-null   int64
 4   fuel      6444 non-null   object
 5   price     6444 non-null   int64
 6   car       6444 non-null   object
dtypes: int64(2), object(5)
memory usage: 352.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9172 entries, 0 to 9171
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   model     9172 non-null   object
 1   option    9172 non-null   object
 2   year      9172 non-null   object
 3   odometer  9172 non-null   int64
 4   fuel      9172 non-null   object
 5   price     9172 non-null   int64
 6   car       9172 non-null   object
dtypes: int64(2), object(5)
memory usage: 501.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5474 entries, 0 to 5473
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   model     5474 non-null   object
 1   option    5474 non-null   object
 2   year      5474 non-null   object
 3   odometer  5474 non-null   int64
 4   fuel      5474 non-null   object
 5   price     5474 non-null   int64
 6   car       5474 non-null   object
dtypes: int64(2), object(5)
memory usage: 299.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3814 entries, 0 to 3813
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   model     3814 non-null   object
 1   option    3814 non-null   object
 2   year      3814 non-null   object
 3   odometer  3814 non-null   int64
 4   fuel      3814 non-null   object
 5   price     3814 non-null   int64
 6   car       3814 non-null   object
dtypes: int64(2), object(5)
memory usage: 208.7+ KB

(None, None, None, None, None)

In [24]:
dfs=[avante,genesis,grandure,sonata,santafe]
# dfs_names=['avante_df','genesis_df','grandure_df','sonata_df','santafe_df']
train = pd.concat(dfs,axis=0)
train

,model,option,year,odometer,fuel,price,car
0,아반떼 AD,1.6 GDI 밸류 플러스,18/02식,46374,가솔린,1300,avante
1,더 뉴 아반떼,1.6 GDi 스마트 기본형,14/05식,78255,가솔린,880,avante
2,아반떼 AD,1.6 GDI 스타일,16/12식(17년형),60873,가솔린,1199,avante
3,아반떼 AD,1.6 GDI 밸류 플러스,18/02식,46374,가솔린,1300,avante
4,아반떼 MD,M16 GDI 럭셔리,12/08식,93310,가솔린,660,avante
...,...,...,...,...,...,...,...
3809,싼타페 DM,디젤(e-VGT) 2.0 2WD 익스클루시브,14/07식(15년형),78199,디젤,1470,santafe
3810,싼타페 TM,디젤 2.0 2WD 익스클루시브,18/02식(19년형),40533,디젤,2580,santafe
3811,싼타페 DM,디젤(e-VGT) 2.0 2WD 익스클루시브,12/09식(13년형),133200,디젤,1350,santafe
3812,싼타페 DM,디젤(e-VGT) 2.0 2WD 프리미엄,14/03식(15년형),83132,디젤,1660,santafe
3813,싼타페 CM,2WD(2.2VGT) MLX 고급형,06/12식(07년형),172197,디젤,330,santafe

In [26]:
import jinja2
from pycaret.regression import *
# X_train, y_train
reg_test_1 = setup(data=train,
                   target='price',
                   train_size= 0.85,
                #    test_data=X_val,
                   use_gpu =True,
                   normalize=True,
                   normalize_method ='minmax',
#                    remove_perfect_collinearity=False,
                   fold=10
                   )

[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1

In [ ]:
best= compare_models(sort='mse',n_select=5)

In [ ]:
top5 = [rank for rank in best]
top5_tune = [tune_model(i) for i in top5]

In [ ]:
blended = blend_models(estimator_list = best,
                       fold = 5,
#                        method = 'soft',
                       optimize='mae',
                       )

In [ ]:
final_model = finalize_model(blended)

In [ ]:
save_model(final_model, 'final_AutoML_model')

In [ ]:
files.download('final_blended.pkl')